
Checks: '-*,clang-analyzer-*,llvm-*,performance-*,portability-*,readability-*,modernize-use-trailing-return-type'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: none
User: ''
CheckOptions:
  - key:             llvm-libc-implementation-in-namespace
    value:           false
  - key:             fuchsia-trailing-return
    value:           false
  - key: llvm-header-guard
    value: 'false'
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MethodCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.PointerPrefix
    value: p_
